/*周六，周日样式*/
.restDay{
	
}
/*24节气样式*/
.solar-terms{
	
}
/*农历节日*/
.lunar-fes{
	
}
/*农历标星 节日*/
.lunar-fes.lunar-star{
	
}
/*公历节日*/
.solar-fes{
	
}
/*公历标星 节日*/
.solar-fes.solar-star{
	
}







.tdate-wrap{
	position: absolute;
	
}

.tdate-wrap .d-header{
	padding: 8px 10px;
	font-size: 18px;
	background: #666;
	text-align: center;
}
.tdate-wrap .d-cont{
	padding: 10px;
	font-size: 0;
}
.d-cont .d-month{
	display: inline-block;
	width: 255px;
	height: 172px;
	font-size: 14px;
}
.d-cont .d-month:nth-child(1){
	background: #999;
}
.d-cont .d-month:nth-child(2){
	background: #ddd;
}







